{% load static %}

<!DOCTYPE html>


<html lang="en">


<head>


    <meta charset="utf-8">
	<title>Inicio</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>


<body>

    <!-- Pagina 1 -->

    <header>


        <!-- Menu -->
        <nav class="menu">

            <label class="logo">QuAi</label>

            <!--<ul class="menu_items">-->
                <!--<li id="separacion_item">Groups</li></ul>-->

            <div class="botones_separacion">
                <a href="{% static 'signup' %}">Registro</a>  
                <a>Inicio sesion</a>
            </div>

        </nav>


    </header>


    <!-- relleno -->
    <div class="contenedor0">


        <!-- primer contenedor -->
        <div class="contenedor">

            <div class="triangulo"></div>

            <h1 class="formato">Unete a un grupo, comparte tu musica favorita y disfruta de la comunidad!!!!</h1>

            <p>
                Miles de personas visitan nuestra pagina cada dia para hablar y compartir musica en cada uno de nuestros grupos
                clasificados por el tipo de musica que escuchas, asi que siempre habra alguien que tenga los mismos gustos musicales que tu
            </p>

            <!-- botones -->
            <ul class="botones">
                <li class="icono">Buena calidad de sonido</li>
                <li class="icono2">Grupos dispuestos a compartir</li>
            </ul>

            <!-- submenu -->
            <div class="submenu">
                
                <ul class="menu_items">
                    <li id="titulo">Redes sociales</li>
                    <li id="info">Twitter</li>
                    <li id="info">Instagram</li>
                </ul>

                <ul class="menu_items">
                    <li id="titulo">QuAiCON</li>
                    <li id="info">Equipos</li>
                    <li id="info">Fechas</li>
                </ul>

                <ul class="menu_items">
                    <li id="titulo">Ayuda</li>
                    <li id="info">QuAi@hotmail.com</li>
                    <li id="info">QuAi@gmail.com</li>
                </ul>

            </div>

        </div>


        <!-- segundo contenedor -->
        <div class="contenedor2">
            <img src="{% static 'imgs/imagen_portada.png' %}" width="440px" height="530px">
        </div>
    

    </div>


</body>


</html>