{% load static %}

<!DOCTYPE html>


<html lang="en">


<head>


    <meta charset="utf-8">
	<title>Inicio</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>


<body>

    <!-- Pagina 1 -->

    <header>


        <!-- Menu -->
        <nav class="menu">

            <label class="logo">Blue Sound</label>

            <ul class="menu_items">
                <li id="separacion_item">Database</li>
                <li id="separacion_item">Education</li>
                <li id="separacion_item">News</li>
                <li id="separacion_item">Regulation</li>
            </ul>

            <button>Hoax Buster</button>      

        </nav>


    </header>


    <!-- relleno -->
    <div class="contenedor0">


        <!-- primer contenedor -->
        <div class="contenedor">

            <div class="triangulo"></div>

            <h1 class="formato">Fight Virus <br> With Vaccines</h1>

            <p> Let's stop the pandemic by killing the virus <br> with a vaccine,
                don't let yourself and your <br> family get infected</p>

            <!-- botones -->
            <ul class="botones">
                <li class="icono">Best Protection</li>
                <li class="icono2">Selected Vaccines</li>
            </ul>

            <h2>Schedule your vaccionations</h2>

            <!-- submenu -->
            <div class="submenu">
                
                <ul class="menu_items">
                    <li class="titulo_lista" id="titulo">Location</li>
                    <li id="info">Jakarta Utara</li>
                </ul>

                <ul class="menu_items">
                    <li class="titulo_lista2" id="titulo">Date</li>
                    <li id="info">08 July 2021</li>
                </ul>

                <ul class="menu_items">
                    <li class="titulo_lista3" id="titulo">Vaccine Type</li>
                    <li id="info">Moderna</li>
                </ul>

                <button>Submit</button>

            </div>

        </div>


        <!-- segundo contenedor -->
        <div class="contenedor2">
            <img src="imagenes/enfermera.png" width="335px" height="530px">
        </div>
    

    </div>


</body>


</html>