
/*
Separacion y alineacion de componentes del menu
*/

*{
    padding:0;
    margin:0;
    font-family: 'Roboto';
}

button{
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    background-color: #1055D0;
}

.menu{
    background-color: rgba(60, 171, 250, 0.1);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 0 80px;
    font-weight: bold;
    margin-right: 350px;
    margin-left: 20px;
    color: #1055D0;
    font-size: 30px;
}

.menu_items{
    display: flex;
    list-style: none;
}

#separacion_item{
    margin-left: 40px;
}

.botones_separacion{
    margin-right: 40px;
}

button{
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    background-color: #1055D0;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    margin-right: 40px;
}

button:hover{
    background-color: #2a70e9;
}

.contenedor0{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    min-height: 85%;
}

.contenedor4{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 150px;
    width: 100%;
    min-height: 100%;
}

.contenedor{
    display:flex;
    flex-flow: column;
    width: 50%;
    align-items: center;
}

.contenedor2{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(to right, #0F91E4,#0b44a5);
    width: 50%;
    height: 575px;
}

.formato{
    font-weight: 400;
    width: 400px;
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: -40px;
    font-weight: bold;
    color: #1D3C71;
}

.formato4{
    font-weight: 400;
    width: 400px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: -40px;
    font-weight: bold;
    color: #1D3C71;
}

p{
    width: 400px;
    margin-bottom: 20px;
    line-height: 25px;
    color: #6f7180;
}

/*Aqui se aplica solo a li*/
.botones li{
    font-weight: bold;
    font-size: 12px;
    margin-right: 60px;
    margin-left: 20px;
}

.botones{
    margin-right: -80px;
    width: 400px;
    margin-bottom: 100px;
    display: flex;
}

.icono{
    list-style-image: url("/static/imgs/sonido.png");
}

.icono2{
    list-style-image: url("/static/imgs/ayuda.png");
}

h2{
    font-weight: 500;
    font-size: 16px;
    width: 400px;
    color: #2a3c5a;
}

.triangulo{
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 50px solid #abbdca1a;
    border-bottom: 50px solid transparent; 
    margin-left: -400px;
}

#sombreado{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.submenu{
    background-color: rgba(255, 255, 255, 0.8);
    height: 90px;
    width: 680px;
    margin-top: 450px;
    margin-left: 400px;
    position: absolute;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.3);
}

.submenu ul{
    display: inline-block;
    margin-right: 60px;
    margin-left: 35px;
}

h4{
    color:#273f69;
    font-size: 15px;
    width: 250px;
}

#titulo{
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #6f7180;
    font-weight: bold;
}

#info{
    font-size: 14px;
}