{% extends 'grupo/base.html' %}

{% load static %}


{% block content %}
        <!-- primer contenedor -->
        <div style="overflow-y: scroll; height:575px; display:flex; flex-flow:column; width:100%; align-items:left;">
            
            <label>Grupos a unirte</label>

            {% for grupo in object_list %}
                <div class="card">
    
                    <div class="card-header">
                        <span class="font-weight-bold">{{ grupo.nombre_grupo}}</span>
                    </div>
        
                    <div class="card-body">
                        <!-- Changes start here! -->
                        <span class="text-muted">Creado por: {{ grupo.propietario }} | {{ grupo.fecha }}
                            <br>Descripcion: {{ grupo.descripcion }}
                        </span>
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'chat' grupo.pk %}">Ir al grupo</a>

                        {% if grupo.propietario.id == request.user.id or request.user.id == 1%}

                        | <a href="{% url 'editar_grupo' grupo.pk %}">Editar</a> |
                        <a href="{% url 'eliminar_grupo' grupo.pk %}">Eliminar</a>
                        
                        {% endif %}

                    </div>
        
                <!-- Changes end here! -->
                </div>
                <br>
            {% endfor %}

        </div>
{% endblock content %}