{% load static %}

<!DOCTYPE html>


<html lang="en">


<head>


    <meta charset="utf-8">
	<title>Grupos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>


<body>

    <!-- Pagina 1 -->

    <header>


        <!-- Menu -->
        <nav class="menu">

            <a href="{% url 'inicio' %}">
                <label class="logo">QuAi</label>
            <a/>

            <ul class="menu_items">
                <li id="separacion_item">
                    {{user.username}}    
                </li>
            </ul>

            <div class="botones_separacion">
                {% ifequal request.user.id 1%}
                    <a href="{% url 'generar_reporte' %}"><button>Generar Reporte</button></a>
                {% endifequal %}
                <a href="{% url 'crear_grupo' %}"><button>Crear grupo</button></a>
                <a href="{% url 'logout' %}"><button>Cerrar sesion</button></a>
            </div> 

        </nav>


    </header>


    <!-- relleno -->
    <section class="contenedor0">

        <!-- segundo contenedor -->
        <div class="contenedor2">
            <img src="{% static 'imgs/chica_otaku.png' %}" width="440px" height="530px">
        </div>


        <!-- primer contenedor -->
        <div style="overflow-y: scroll; height:575px; display:flex; flex-flow:column; width:50%; align-items:center;">
            
            <label>Grupos a unirte</label>

            {% for grupo in object_list %}
                <div class="card">
    
                    <div class="card-header">
                        <span class="font-weight-bold">{{ grupo.nombre_grupo}}</span>
                    </div>
        
                    <div class="card-body">
                        <!-- Changes start here! -->
                        <span class="text-muted">Creado por: {{ grupo.propietario }} | {{ grupo.fecha }}
                            <br>Descripcion: {{ grupo.descripcion }}
                        </span>
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'chat' grupo.pk %}">Ir al grupo</a>

                        {% if grupo.propietario.id == request.user.id or request.user.id == 1%}

                        | <a href="{% url 'editar_grupo' grupo.pk %}">Editar</a> |
                        <a href="{% url 'eliminar_grupo' grupo.pk %}">Eliminar</a>
                        
                        {% endif %}

                    </div>
        
                <!-- Changes end here! -->
                </div>
                <br>
            {% endfor %}

        </div>
    

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>


</html>